@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--Grayscale-20);

  /* Grayscale */
  --Grayscale-10: #ffffff;
  --Grayscale-20: #f9f9f9;
  --Grayscale-30: #cfcfcf;
  --Grayscale-40: #818181;
  --Grayscale-50: #515151;
  --Grayscale-60: #000000;

  /* Brown */
  --Brown-10: #f5f1ee;
  --Brown-20: #e4d5c9;
  --Brown-30: #c7bbb5;
  --Brown-40: #542f1a;
  --Brown-50: #341909;

  /* Blue, Yellow, Red  */
  --Blue-50: #1877f2;
  --Yellow-50: #fee500;
  --Red-50: #b93333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji';
}

ul {
  list-style: none;
}
